<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/jwt_layout">
	
<th:block layout:fragment="html_head">
	<title>Jwt Main</title>
</th:block>

<th:block layout:fragment="add_lib_css">
</th:block>

<th:block layout:fragment="custom_css">
</th:block>

<th:block layout:fragment="content_body">
	<div class="content-wrapper">
	</div>
</th:block>

<th:block layout:fragment="custom_js">

</th:block>

</html>