<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body th:fragment="header (type)">
	<header style="background-color: #222;">
		<!--Navbar-->
		<nav class="mb-1 navbar navbar-expand-lg navbar-dark">
		
			<!-- Navbar brand -->
			<a class="navbar-brand" href="#">Navbar</a>
			
			<!-- Collapse button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myExampleNav" 
				aria-controls="myExampleNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<!-- Collapsible content -->
			<div class="collapse navbar-collapse" id="myExampleNav">
			
				<!-- Links -->
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
				</ul>
				
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">
							<i class="fa fa-envelope"></i> Contact
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item dropdown" th:switch="${type}">
						<!--/*  Session */-->
						<div th:case="'session'">
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="true">
								<i class="fa fa-user"></i> Profile
							</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="#">My account</a>
								<a class="dropdown-item btn-logout">Log out</a>
							</div>
						</div>
						<!--/*  Cookie */-->
						<div th:case="'cookie'">
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="true">
								<i class="fa fa-user"></i> Profile
							</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="#">My account</a>
								<a class="dropdown-item btn-logout">Log out</a>
							</div>
						</div>
						<!--/*  Jwt */-->
						<div th:case="'jwt'">
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="true">
								<i class="fa fa-user"></i> Profile
							</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="#">My account</a>
								<a class="dropdown-item btn-logout">Log out</a>
							</div>
						</div>
					</li>
				</ul>
				
				<!--/* Spring 4 이후부터는 Security logout도 post만 가능 */-->
				<form id="frmLogout" name="frmLogout" method="post" th:action="${logoutUri}">
				</form>
				
				
			</div>
			<!--/.Collapsible content -->
		</nav>
		<!--/.Navbar-->
	</header>
	
	<style type="text/css" th:inline="text">
		.btn-logout {cursor: pointer;}
	</style>
	<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
		$(function(){
			$('.btn-logout').click(function(){
				$("#frmLogout").submit();
			});
		});
	//]]>
	</script>
	
</body>
</html>