<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="timer (type)">
	<script type="text/javascript" th:inline="javascript" th:if="${type} == 'session'">
	//<![CDATA[
		var _EXPIRES_IN_ = [[${expires_in}]];
		
		if ( !CommonJS.Valid.isBlank(_EXPIRES_IN_) ) {
			_EXPIRES_IN_ = _EXPIRES_IN_ - 30;
			
			var limitTime = CommonJS.DateTime.plusMinusSecond(_EXPIRES_IN_).getTime();
			
			var x = setInterval(function(){
				fnAutoLogout();
			}, 1000);
		}
		
		function fnAutoLogout() {
			var nowTime = new Date().getTime();
			var distance = limitTime - nowTime;
			
			if (distance < 0) {
				clearInterval(x);
				
				var CONTEXT_PATH = /*[[@{/}]]*/ '';
				var url = CONTEXT_PATH + '/session/logout';
				
				location.href = url;
			}
		}
	//]]>
	</script>
	
	<script type="text/javascript" th:inline="javascript" th:if="${type} == 'cookie'">
	//<![CDATA[
		var _EXPIRES_IN_ = [[${expires_in}]];
		
		if ( !CommonJS.Valid.isBlank(_EXPIRES_IN_) ) {
			_EXPIRES_IN_ = _EXPIRES_IN_ - 30;
			
			var limitTime = CommonJS.DateTime.plusMinusSecond(_EXPIRES_IN_).getTime();
			
			var x = setInterval(function(){
				fnAutoLogout();
			}, 1000);
		}
		
		function fnAutoLogout() {
			var nowTime = new Date().getTime();
			var distance = limitTime - nowTime;
			
			if (distance < 0) {
				clearInterval(x);
				
				var CONTEXT_PATH = /*[[@{/}]]*/ '';
				CONTEXT_PATH = (CONTEXT_PATH === '/') ? '' : CONTEXT_PATH;
				
				var url = CONTEXT_PATH + '/cookie/logout';
				
				location.href = url;
			}
		}
	//]]>
	</script>
	
	<script type="text/javascript" th:inline="javascript" th:if="${type} == 'jwt'">
	//<![CDATA[
		var _EXPIRES_IN_ = [[${expires_in}]];
		
		if ( !CommonJS.Valid.isBlank(_EXPIRES_IN_) ) {
			_EXPIRES_IN_ = _EXPIRES_IN_ - 30;
			
			var limitTime = CommonJS.DateTime.plusMinusSecond(_EXPIRES_IN_).getTime();
			
			var x = setInterval(function(){
				fnAutoLogout();
			}, 1000);
		}
		
		function fnAutoLogout() {
			var nowTime = new Date().getTime();
			var distance = limitTime - nowTime;
			
			if (distance < 0) {
				clearInterval(x);
				
				var CONTEXT_PATH = /*[[@{/}]]*/ '';
				CONTEXT_PATH = (CONTEXT_PATH === '/') ? '' : CONTEXT_PATH;
				
				var url = CONTEXT_PATH + '/jwt/logout';
				
				location.href = url;
			}
		}
	//]]>
	</script>
</body>
</html>