<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="timer (type)">
	<script type="text/javascript" th:inline="javascript" th:if="${type} == 'session'">
	//<![CDATA[
		var _EXPIRES_IN_ = [[${expires_in}]];
		_EXPIRES_IN_ = _EXPIRES_IN_ - 30;
		
		var limitTime = CommonJS.DateTime.plusMinusSecond(_EXPIRES_IN_).getTime();
		
		function fnAutoLogout() {
			var nowTime = new Date().getTime();
			var distance = limitTime - nowTime;
			
			if (distance < 0) {
				clearInterval(x);
				
				$(".btn-logout").trigger('click');
			}
		}
		
		var x = setInterval(function(){
			fnAutoLogout();
		}, 1000);
	//]]>
	</script>
	
	<script type="text/javascript" th:inline="javascript" th:if="${type} == 'cookie'">
	//<![CDATA[
		var _EXPIRES_IN_ = [[${expires_in}]];
		_EXPIRES_IN_ = _EXPIRES_IN_ - 30;
		
		var limitTime = CommonJS.DateTime.plusMinusSecond(_EXPIRES_IN_).getTime();
		
		function fnAutoLogout() {
			var nowTime = new Date().getTime();
			var distance = limitTime - nowTime;
			
			if (distance < 0) {
				clearInterval(x);
				
				$(".btn-logout").trigger('click');
				
				location.href = url;
			}
		}
		
		var x = setInterval(function(){
			fnAutoLogout();
		}, 1000);
	//]]>
	</script>
	
	<script type="text/javascript" th:inline="javascript" th:if="${type} == 'jwt'">
	//<![CDATA[
		var _EXPIRES_IN_ = [[${expires_in}]];
		_EXPIRES_IN_ = _EXPIRES_IN_ - 30;
		
		var limitTime = CommonJS.DateTime.plusMinusSecond(_EXPIRES_IN_).getTime();
		
		function fnAutoLogout() {
			var nowTime = new Date().getTime();
			var distance = limitTime - nowTime;
			
			if (distance < 0) {
				clearInterval(x);
				
				$(".btn-logout").trigger('click');
				
				location.href = url;
			}
		}
		
		var x = setInterval(function(){
			fnAutoLogout();
		}, 1000);
	//]]>
	</script>
</body>
</html>